/data/world/
/data/logs/
/data/paper.jar
/data/banned-ips.json
/data/banned-players.json
/data/whitelist.json
/data/usercache.json
/data/ops.json
/data/plugins/PluginMetrics
/data/plugins/bStats
/data/crash-reports
/data/versions
/data/version_history.json
/data/cache
/data/.console_history
/data/libraries